<div class="jumbotron">
  <h1 class="display-4">Welcome to Homebrew Adventures DnD Marketplace</h1>
  <p class="lead">If you have already please make an account if you would like to buy and sell on this platform.</p>
  <hr class="my-4">
  <p>To check out what some people have listed click below.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="items/index" role="button">Enter Marketplace</a>
  </p>
</div>