<h1 class="p-5 text-light shadow-1-strong rounded mb-3">Order history</h1>
    <div class="p-1 text-light text-center shadow-1-strong rounded mb-1">
        <a href="/profiles/:id"class="btn btn-danger btn-lg">Back</a>
    </div>
<%#using the item card partial to render item cards %>
<%= render "item_card" %>